<h2>Eventos</h2>
<hr>
<div action="" class="form-inline">
  <div class="input-group mb-2 d-flx">
    <input type="text" placeholder="busctar" class="form-control mr-2" [(ngModel)]="filterEvents">
    <button class="btn btn-outline-success">buscar</button>
  </div>
</div>

<h5>Filter: {{ filterEvents }}</h5>
<table class="table table-striped ">
  <thead class="table-dark">
    <tr>
      <th>
        <button (click)="handleImageDisplay()" type="button" class="btn btn-outline-success">image</button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Vagas</th>
      <th>Lote</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody *ngIf="eventos.length; else elseTable">
    <tr *ngFor="let event of filterEventList">
      <td>
        <img src="/assets/{{ event.imageUrl }}" *ngIf="showImages" alt="imagens evento" [style.width.px]="50">
      </td>
      <td>{{ event.eventoID }}</td>

      <td [innerHtml]="event.tema"></td>
      <td [innerHtml]="event.local"></td>
      <td [innerHtml]="event.dataEvento"></td>
      <td [innerHtml]="event.qtdPessoa"></td>
      <td [innerHtml]="event.lote"></td>
      <td>
        <button class="btn btn-primary btn-sm m-2">edit</button>
        <button class="btn btn-danger btn-sm">delete</button>
      </td>
    </tr>
  </tbody>

  <ng-template #elseTable>
    <tfoot>
      <tr>
        <td colspan="8">
          <h4>nenhum Evento Encontrado</h4>
        </td>
      </tr>
    </tfoot>
  </ng-template>

</table>
